@{
    Layout = "_Layout";
}

@model ToDoListDto[]

<h3 class="text-center">All ToDoLists </h3>
<p>
    <a href="@Url.Action("CreateToDoList")" class="btn btn-primary">CreateToDoList</a>
</p>
<hr />

<div class="custom-cards">

    @{
        if (Model.Length == 0)
        {
            <h2>There is no post yet...</h2>
        }
    }


    <div class="table-container" style="overflow-y:hidden; overflow:auto; height:55vh; width:400px">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 40%;">ToDoList </th>
                    <th style="width: 40%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var toDoList in Model)
                {
                    <tr>
                        <td>@toDoList.Name</td>
                        <td class="action-links">
                            <a href="@Url.Action("ViewToDoList", new { id = toDoList.Id })" class="btn btn-secondary">Details</a>
                            <a href="@Url.Action("UpdateToDoList", new { id = toDoList.Id })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("DeleteToDoList", new { id = toDoList.Id })" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

