@{
    Layout = "_Layout";
}

@model ToDoItemDto

<a asp-controller="Home" asp-action="index" class="btn btn-secondary back"><i class="las la-arrow-left"></i> Back to home</a>
<hr />


<div class="post-view">
    <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body m-3">
                    <p class="card-text">
                        @Model.Title
                        <div class="table-container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 40%;">Title</th>
                                        <th style="width: 40%;">Description</th>
                                        <th style="width: 40%;">DueDate</th>
                                        <th style="width: 40%;">ItemStatus</th>
                                        <th style="width: 40%;">CreatedDate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>@Model.Title</td>
                                            <td>@Model.Description</td>
                                            <td>@Model.DueDate</td>
                                            <td>@Model.ToDoItemStatus</td>
                                            <td>@Model.CreatedDate</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="la-group">
                                <a asp-controller="ToDoItem" asp-action="editpost" asp-route-id="@Model.Id" class="btn btn-primary mx-2"><i class="las la-edit"></i>Edit</a>
                                <a asp-controller="ToDoItem" asp-action="DeleteToDoItem" asp-route-id="@Model.Id" onclick="return confirm('Are you sure delete this post?');" class="btn btn-danger mx-2"><i class="las la-trash"></i>Delete</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>